@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  color: #292727;
  font-family: var(--font-poppins);
  scrollbar-width: thin;
  scrollbar-color: #dad8d8 transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a,
input,
select,
button,
video,
table,
td,
tr,
th,
tbody,
textarea {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.PhoneInput {
  background-color: #f4f4f5 !important;
  border-radius: 10px !important;
  padding: 5px 12px !important;
  display: flex;
  align-items: center;
}

.PhoneInputInput {
  border: 0 !important;
  background-color: transparent !important;
  outline: none !important;
  padding: 10px !important;
  flex: 1;
}

.PhoneInputCountry {
  margin-right: 8px;
}

@layer utilities {
  @keyframes soft-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  .animate-soft-bounce {
    animation: soft-bounce 4s ease-in-out infinite;
  }
  .animate-soft-bounce-delayed {
    animation: soft-bounce 4s ease-in-out 1.5s infinite;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
